<!DOCTYPE html>
<html>
<head>
    <title>欢迎光临</title>
</head>
<body>
<h2>Gas news from other sites</h2>
{% for item in newslist %}
  <li><a href="{{item.source}}" target="_blank" >{{ item.title }}</a><br>
{% endfor%}
<h2>below is the news from Baidu</h2>
{% for item in baidu %}
  <li><a href="{{item.link}}" target="_blank" >{{ item.title }}</a><br>
{% endfor%}
<h2>below is the Englsih News</h2>
{% for item in english_news %}
  <li><a href="{{item.source}}" target="_blank" >{{ item.title }}</a><br>
{% endfor%}
<h2>below is the transated News</h2>
{% for item in trans_news %}
  <li><a href="#" target="_blank" >{{ item.title }}</a><br>
{% endfor%}
</body>
</html>